---
//import "../styles/navigation.scss";
import { joinUrl } from "../utils/url";
import NavbarBurger from "./NavbarBurger.astro";

const baseUrl = import.meta.env.BASE_URL;

const getNavUrl = (path: string): string => joinUrl(baseUrl, path);

const navItems = [
  { label: "Home", href: baseUrl },
  { label: "How-To", href: getNavUrl("how-to/") },
  { label: "Zahlen", href: getNavUrl("indicators/") },
  { label: "Kontakt", href: getNavUrl("contact_us/") },
];

const recipes = [
  {
    label: "Zürigeschnetzeltes",
    href: getNavUrl("rezepte/zuerigeschnetzeltes/"),
  },
  { label: "Bündner Gerstensuppe",
    href: getNavUrl("rezepte/BuendnerGerstensuppe/") },
  { label: "Ratatouille",
    href: getNavUrl("rezepte/ratatouille/") },
  { label: "Älplermagronen",
    href: getNavUrl("rezepte/aelplermagronen/") },
  { label: "Kartoffelgratin",
    href: getNavUrl("rezepte/kartoffelgratin/") },
  { label: "Bratwurst mit Zwiebelsauce",
    href: getNavUrl("rezepte/bratwurst/") },
];
---

<input type="checkbox" id="navbar-check" class="is-hidden-desktop" style="display:none;" />

<nav class="navbar">
  <div class="navbar-brand"> 
    <NavbarBurger toggleId="navbar-check" /> 
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {
        navItems[0] ? (
          <a class="navbar-item" href={navItems[0].href}>
            {navItems[0].label}
          </a>
        ) : null
      }
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Rezepte </a>
        <div class="navbar-dropdown">
          {
            recipes.map((recipe) => (
              <a class="navbar-item" href={recipe.href}>
                {recipe.label}
              </a>
            ))
          }
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href={getNavUrl("about/")}> About </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href={getNavUrl("about/#WhatWePractice")}>
            Was wir üben
          </a>
          <a class="navbar-item" href={getNavUrl("about/#TermsInProject")}>
            Begriffe im Projekt
          </a>
        </div>
      </div>
      {
        navItems.slice(1).map((item) => (
          <a class="navbar-item" href={item.href}>
            {item.label}
          </a>
        ))
      }
    </div>
  </div>
</nav>