---
const { title } = Astro.props;
import "../styles/mystyles.scss";

const baseUrl = import.meta.env.BASE_URL;
const navItems = [
  { label: "Home", href: baseUrl },
  { label: "How-To", href: `${baseUrl}how-to/` },
  { label: "About", href: `${baseUrl}about/` },
  { label: "Zahlen", href: `${baseUrl}indicators/` },
  { label: "Kontakt", href: `${baseUrl}contact_us/` },
];

const recipes = [
  {
    label: "Zürigeschnetzeltes",
    href: `${baseUrl}rezepte/zuerigeschnetzeltes`,
  },
  { label: "Kartoffelsalat", href: "#" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kochrezepte für Entwickler</title>
  </head>
  <body>
    <input
      type="checkbox"
      id="navbar-check"
      class="is-hidden-desktop"
      style="display:none;"
    />

    <nav
      class="navbar is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href={baseUrl}> </a>

        <label for="navbar-check" role="button" class="navbar-burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </label>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          {
            navItems.map((item) => (
              <a class="navbar-item" href={item.href}>
                {item.label}
              </a>
            ))
          }

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Rezepte </a>
            <div class="navbar-dropdown">
              {
                recipes.map((recipe) => (
                  <a class="navbar-item" href={recipe.href}>
                    {recipe.label}
                  </a>
                ))
              }
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href={`${baseUrl}about/`}> About </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href={`${baseUrl}about/#WhatWePractice`}>
                Was wir üben
              </a>
              <a class="navbar-item" href={`${baseUrl}about/#TermsInProject`}>
                Begriffe im Projekt
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </body>
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <slot />
    </div>
  </section>
</html>
